.newTasks__listItem {
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding: 2% 2%;
    min-height: 50px;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-gap: 10px;
}

@media (max-width: 767px) {
    .newTasks__listItem {
        padding: 5% 2%;
    }
}

.newTasks__toggleTaskDoneButton {
    background-color: rgb(4, 106, 4);
    border: none;
    color: white;
    height: 30px;
}

.newTasks__toggleTaskDoneButton:hover {
    background-color: rgb(6, 138, 6);
}

.newTasks__toggleTaskDoneButton:active {
    background-color: rgb(7, 161, 7);
}

@media (max-width: 767px) {
    .newTasks__toggleTaskDoneButton {
        align-self: center;
    }
}

.newTasks__toggleTaskDoneButton--checked {
    text-decoration: line-through;
}

.newTasks__removeTaskButton {
    background-color: rgb(246, 15, 15);
    border: none;
    color: white;
    height: 30px;
}

.newTasks__removeTaskButton:hover {
    background-color: rgb(250, 46, 46);
}

.newTasks__removeTaskButton:active {
    background-color: rgb(249, 69, 69);
}

@media (max-width: 767px) {
    .newTasks__removeTaskButton {
        align-self: center;
    }
}

.newTasks__content {
    align-self: center;
}