.header {
    font-weight: 700;
    margin-bottom: 20px;
}

.section__header {
    font-weight: 700;
    margin: 0px;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #e7e6e6;
}

@media (max-width: 767px) {
    .section__header {
        padding: 20px;
    }
}

.section__container {
    background-color: white;
    padding: 1%;
}