html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #e7e6e6;
    word-break: break-word;
}

.taskList__container {
    margin: 30px 60px;
    font-family: Montserrat, sans-serif;
    padding: 3%;
}

@media (max-width: 767px) {
    .taskList__container {
        width: 100%;
        margin: auto;
    }
}

.taskList__header {
    font-weight: 700;
    margin-bottom: 20px;
}

.taskList__secondaryHeader--top {
    font-weight: 700;
    margin: 0px;
    padding: 1%;
    background-color: white;
    border-bottom: 1px solid #e7e6e6;
}

@media (max-width: 767px) {
    .taskList__secondaryHeader--top {
        padding: 5%;
    }
}
.form {
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 10px;
}

@media (max-width: 767px) {
    .form {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
}

.form__input {
    font-family: Montserrat, sans-serif;
    align-self: stretch;
    flex-basis: 30px;
}

.form__submitButton {
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    font-family: Montserrat, sans-serif;
}

.form__submitButton:hover {
    background-color: rgb(2, 153, 153);
}

.form__submitButton:active {
    background-color: rgb(1, 164, 164);
}


@media (max-width: 767px) {
    .form__submitButton {
        align-self: stretch;
    }
}

.taskList__secondaryHeader--bottom {
    font-weight: 700;
    margin: 10px 0px 0px;
    background-color: white;
    padding: 1%;
    border-bottom: 1px solid #e7e6e6;
}

@media (max-width: 767px) {
    .taskList__secondaryHeader--bottom {
        padding: 5%;
    }
}

.newTasks__container {
    background-color: white;
    padding: 1%;
}

.newTasks__listItem {
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding: 5% 2%;
    min-height: 50px;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-gap: 10px;
}

.newTasks__checkboxButton {
    background-color: rgb(4, 106, 4);
    border: none;
    color: white;
    height: 30px;
}

.newTasks__checkboxButton:hover {
    background-color: rgb(6, 138, 6);
}

.newTasks__checkboxButton:active {
    background-color: rgb(7, 161, 7);
}

@media (max-width: 767px) {
    .newTasks__checkboxButton {
        align-self: center;
    }
}

.newTasks__checkboxButton--checked {
    text-decoration: line-through;
}

.newTasks__removingButton {
    background-color: rgb(246, 15, 15);
    border: none;
    color: white;
    height: 30px;
}

.newTasks__removingButton:hover {
    background-color: rgb(250, 46, 46);
}

.newTasks__removingButton:active {
    background-color: rgb(249, 69, 69);
}

@media (max-width: 767px) {
    .newTasks__removingButton {
        align-self: center;
    }
}


.newTasks__content {
    align-self: center;
}