html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color:#e7e6e6;
}

.taskList {
    margin: 30px 60px;
    font-family: Montserrat, sans-serif;
}

.taskList__header {
    font-weight: 700;
    margin-bottom: 20px;
}

.taskList__secondaryHeader--top {
    font-weight: 700;
    margin: 0px;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #e7e6e6;
}

.taskList__form {
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    grid-gap: 10px;
}

.taskList__input {
    font-family: Montserrat, sans-serif;
    align-self: stretch;
}

.taskList__button {
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    font-family: Montserrat, sans-serif;
}

.taskList__secondaryHeader--bottom {
    font-weight: 700;
    margin: 10px 0px 0px;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #e7e6e6;
}

.newTasks {
    background-color: white;
    padding: 20px;
}

.newTasks__listItem {
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    height: 50px;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-gap: 10px;
}

.newTasks__checkboxButton {
    background-color: green;
    border: none;
}

.newTasks__removingButton {
    background-color: red;
    border: none;
}

.newTasks__content {
    align-self: center;
}